*{
    margin: 0px;
    padding: 0px;
}
.banner-container {
    background-color: rgba(229, 84, 115, 0.05);
    /* height: 100vh; */
    display: flex;
    align-items: center;
    position: relative;
    padding: 20vh;

}
.banner-title{
    font-size: 55px;
}
.description {
    margin-top: 20px;
    font-size: 12px;
}
.primary-btn{
    margin-top: 20px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;
}
.image{
    height: 100vh;
}
.signup-container{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    padding: 50vh;
    height: 30px;
}
.text-primary-color{
    color: #E55473;
}
.instragram{
    align-items: center;
}
.instagram-image{
    display: flex;
    gap: 10px;
}
.footer {
    align-items: center;
}